<header class="header">
  
  <nav class="header_nav">
    <div class="header_nav_icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- añadir animación menu codepen (css y js) -->

    <ul class="header_nav_menu">
      <li><a href="/src/index.html">Inicio</a></li>
      <li><a href="/src/about-me.html">Sobre la creadora</a></li>
      <li><a href="/src/about-test.html">Sobre el test</a></li>
      <li><a href="/src/contact.html">Contacto</a></li>
    </ul>
  </nav>

  <div class="header_timer">
    15
    <!-- añadir temporizador con js -->
  </div>
</header>
