<main class="test">

    <section class="test_instr">
        <h2>Asocia las frases que van apareciendo con las imágenes <span class="test_instr_colapse">en el colapsable</span>.</h2>
    </section>
    <section class="test_images">
        <div class="test_images_1">
            <img src="../images/ethan-haddox-NTjSR3zYpsY-unsplash.jpg" alt="">
        </div>

       <div class="test_images_2">
            <img src="" alt="">
        </div>

        <div class="test_images_3">
            <img src="" alt="">
        </div>

        <div class="test_images_4">
            <img src="" alt="">
        </div>

        <div class="test_images_5">
            <img src="" alt="">
        </div>

        <div class="test_images_6">
            <img src="" alt="">
        </div>

        <div class="test_images_7">
            <img src="" alt="">
        </div>

        <div class="test_images_8">
            <img src="" alt="">
        </div>
    </section>

    <section class="test_sentences">
        <h3></h3>
    </section>
</main>